


<% if user_signed_in? %>
<div class="jumbotron">
  <div class="container">
    <h1>Share your videos with the world!</h1>
    <p>Click the button below to share your video from YouTube.</p>
    <p>
      <%= link_to 'Add video now!', new_video_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
<% end %>



<% if @videos.any? %>
  <div class="container">
    <h1>Latest videos</h1>

    <!-- testing out -->

    
 
<div class="cards">
<% @videos.each do |video| %>
  <div class="card">
    <div class="card-image">
       <%= link_to image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg"), video_path(video), :data => { :no_turbolink => true }  %>
    </div>
    <div class="card-header">
      <%= link_to video.title, video_path(video), :data => { :no_turbolink => true }  %>
    </div>
    <div class="card-copy">
      <p><%= truncate(video.description, length: 100) %>.</p>
    </div>
    <!--
    <div class="card-stats">
      <ul>
        <li><#%= video.likes %><span>Likes</span></li>
        <li><#%= video.dislikes %><span>Dislikes</span></li>
        <li>923<span>Objects</span></li>
      </ul>
    </div> -->
  </div>
  <% end %>
</div>
  
<% end %>