<% @category.videos.each do |video| %>
<div class="comment">
  <div class="comment-content">
     <%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg" %>
    <h1><%= link_to video.title, video_path(video), :data => { :no_turbolink => true } %></h1>
    <small><%=simple_format video.description.truncate(200) %>

    </small>
    <p class="comment-detail"><%= link_to 'learn more', video_path(video) %></p>

  </div>
</div>
<% end %>

