

<div class="cards">
<% @category.videos.each do |video| %>
  <div class="card">
    <div class="card-image">
        <%= link_to image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg"), video_path(video), :data => { :no_turbolink => true }  %>
    </div>
    <div class="card-header">
      <%= link_to truncate(video.title, length: 35), video_path(video), :data => { :no_turbolink => true }  %>
    </div>
    <div class="card-copy">
      <p><%= truncate(video.description, length: 100) %>.</p>
    </div>
    <!--
    <div class="card-stats">
      <ul>
        <li><#%= video.likes %><span>Likes</span></li>
        <li><#%= video.dislikes %><span>Dislikes</span></li>
        <li>923<span>Objects</span></li>
      </ul>
    </div> -->
  </div>
  <% end %>
</div>